[package]
name = "blockwatch"
version = "0.2.11"
edition = "2024"
repository = "https://github.com/mennanov/blockwatch"
description = "Language agnostic linter that keeps your code and documentation in sync and valid"
homepage = "https://github.com/mennanov/blockwatch"
license = "MIT"

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["cargo", "derive"] }
tree-sitter = "0.25"
tree-sitter-bash = "0.25"
tree-sitter-c = "0.24"
tree-sitter-c-sharp = "0.23"
tree-sitter-cpp = "0.23"
tree-sitter-css = "0.25"
tree-sitter-go = "0.25"
tree-sitter-html = "0.23"
tree-sitter-java = "0.23"
tree-sitter-javascript = "0.25"
tree-sitter-kotlin-ng = "1.1"
tree-sitter-md = "0.5"
tree-sitter-php = "0.24"
tree-sitter-python = "0.25"
tree-sitter-ruby = "0.23"
tree-sitter-rust = "0.24"
tree-sitter-sequel = "0.3"
tree-sitter-swift = "0.7"
tree-sitter-toml-ng = "0.7"
tree-sitter-typescript = "0.23"
tree-sitter-xml = "0.7"
tree-sitter-yaml = "0.7"
serde = { version = "1.0.228", features = ["derive"] }
tokio = { version = "1.47", features = ["full"] }
async-trait = "0.1"
serde_json = "1.0"
regex = "1.11"
async-openai = { version = "0.29", default-features = true }
secrecy = "0.10"
unidiff = "0.4"
html-escape = "0.2"
serde_repr = "0.1"
strum = "0.27"
strum_macros = "0.27"
similar = { version = "2.7" }

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.1"
axum = "0.8"

[profile.dist]
inherits = "release"
lto = "thin"
